<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mg.tiaanica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CoordinateOffset"
            android:label="@string/title_activity_coordinate_offset"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mg.tiaanica.MainActivity" />
        </activity>
        <activity
            android:name=".CoordCalculator"
            android:label="@string/title_activity_coord_calculator"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mg.tiaanica.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlphaSum"
            android:label="@string/title_activity_alpha_sum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VigenereCipher"
            android:label="@string/title_activity_vigenere_cipher"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>